.all-pizzas, .order-form, .size-select, .ingredients  {
  margin: 20px 0 !important;
}

.size-select {
  margin-bottom: 0;
}

.delivery {
  margin: 20px 0 0;
}

.all-pizzas .card-header button {
  font-size: 22px;
  text-align: left;
  display: inline-block;
  width: 100%;
  padding-right: 1px;
  padding-left: 1px;
  color: #303030;
}

.all-pizzas .card-header button span {
  background-color: #545b62;
  color: white;
  padding: 0px 7px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 32px;
}

.all-pizzas :hover, .all-pizzas :focus {
  text-decoration: none;
}

.all-pizzas i {
  cursor: pointer;
  line-height: 35px;
  color: #6c757d;
}

.each-topping {
  margin-bottom: 3px;
}

#pizza-summary {
  margin-bottom: 20px;
}

#pizza-details {
  /* display: none; */
  margin: 20px 0 0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
