.all-pizzas, .order-form, .size-select, .ingredients  {
  margin: 20px 0 !important;
}

.size-select {
  margin-bottom: 0;
}

.delivery {
  margin: 20px 0 0;
}


.all-pizzas .card-header button {
  font-size: 22px;
}

.all-pizzas :hover, .all-pizzas :focus {
  text-decoration: none;
}


#pizza-details {
  display: none;
  margin: 20px 0 0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

#delivery {
  display:block;

}
